// Font size
$font-size: 14px;

// Colors
$blue: #11A3EB;

$green: #0BCE35;

$yellow: #FFB11F;

$red: #E02D43;

$black: #0A0B0C;

$grayscale1: #636A71;

$grayscale2: #8F96A0;

$grayscale3: #D2D9DC;

$grayscale4: #F0F3F7;

$grayscale5: #E8F1FC;

$white: #FFFFFF;

// Responsive
$desktop-width: 1024px;

$desktop-width-container: 940px;

$incremental-s: 1.15;

$incremental-l: 1.5;
